.appointment {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 40vw;
}
button {
	font-family: Rosarivo;
	width: 41vw;
	height: 7.75vw;
	margin: 2.25vw;
	font-size: 2.75vw;
	background: #514527;
	color: white;
	letter-spacing: 0.5vw;
	border: none;
}
button:hover {
	background-color: ;
	transition:  0.1s;
	box-shadow: 1px 1px 4px black;
	text-decoration: underline;
	background: #514407;
}
