.appointment {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 40vw;
}
button {
	font-family: Rosarivo;
	width: 41vw;
	height: 7.75vw;
	margin: 2.25vw;
	font-size: 2.75vw;
	background: #514527;
	color: white;
	letter-spacing: 0.5vw;
	border: none;
}
button:hover {
	background-color: ;
	transition:  0.1s;
	box-shadow: 1px 1px 4px black;
	text-decoration: underline;
	background: #514407;
}

.appointmentbuttons {
	display: none; /*To change (delete) when making an appointment process will be ready*/
}

.appointmentcontactinfo{
	/*display:  none - when making an appointment process will be ready*/
}

.reachme {	
	margin: 5vw auto;
	}

@media only screen and (max-width: 400px) {
	.appointmentbuttons {
	    display: none; /*To change (display:  flex) when making an appointment process will be ready*/
	    flex-direction: column;
	    width: 100%;
	}
	
	button {
		width: 100%;
	    height: 20vw;
	    margin: 3vw 0;
	    font-size: 8vw;
	}

	.reachme {
	font-size: 5vw;
	margin: 15vw auto;
	}
}
