.Home {
	background-image: url('../Images/background_home.jpeg');
	background-repeat: no-repeat;
  	background-size: 100%;
  	min-height: 70vw;
  	background-position: 50% 50%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}

@media only screen and (max-width: 400px) {
	.Home {
		height: 150vw;
	}
}


