.contactinfo {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	font-size: 1.5vw;
	letter-spacing: 0.25vw;
}

#infosectionfirst {
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: stretch;
	font-size: 1.5vw;
}

#infosectionsecond {
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	font-size: 1.5vw;
}

#infosectionsecond > div > p {
	width: 15vw;
}

#gmap_canvas{
	padding-top: 2vw;
	width: 30vw;
	height: 24vw;
}

input#desc {
	width: 96%;
	padding: 1%;
}


@media only screen and (max-width: 400px) {
	.contactinfo {
		flex-direction: column;
		width: 100%;
	}

	#bookingTitle {
		margin: 10vw;
	}

	#infosectionfirst {
		width: 100%;
	}

	#infosectionfirst > div:first-child {
		letter-spacing: 1vw;
		font-size: 4.5vw;
		margin: 0 auto;
	}

	.form > input {
		height: 8vw;
		font-size: 2vw;
	}

	.form > input:last-child {
		width: 100%;
	}

	#infosectionsecond {
		width: 100%;
		flex-direction: column;
		font-size: 4.5vw;
	}

	#infosectionsecond > div:first-child {
		display: flex;
		flex-wrap: wrap;
    	justify-content: space-evenly;
    	padding-top: 8vw;
	}

	#infosectionsecond > div:first-child > p{
		padding: 2vw 5vw;
		margin: 0;
		width: unset;
	}

	#gmap_canvas{
		padding-top: 4vw;
		width: 100%;
		height: 40vw;
	}
}