.Navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.25);
}


nav {
	display: flex;
}

a:hover {
	transition: 0.4s;
	background: rgba(200, 200, 200, 0.2);
	box-shadow: 2px 2px 6px black;
	cursor: pointer;
}

a {	
	align-self: center;
	font-size: 1vw;
	padding: 2vw 4vw;
	text-decoration: none;
}

.Navlogo {
	margin: 0 2vw;
	width:  5vw;
	height: 5vw;
}

.Navlogo > img {
	width:  5vw;
	height: 5vw;
}

.xIconShown {
	position: absolute;
    top: 0;
    right: 1vw;
    display: none;
    width: 15vw;
}

.xIconHidden {
		display: none;
}

.xBoth {
	border-bottom: 1.5vw solid white;
    width: 6vw;
    margin: 1vw;
}

.burgerContainerShown {
	position: absolute;
    top: 6.5vw;
    right: 5vw;
    display: none;
}

.burger {
	border-bottom: 1.5vw solid white;
    width: 10vw;
    margin: 1vw;
}


@media only screen and (max-width:  400px) {
	.Navbar {
		background-color: rgba(0, 0, 0, 0);
		justify-content: flex-end;
	}

	.Navlogo {
		position: absolute;
		top: 0;
		left: 0;
	}

	/*Menu icon on mobile devices*/
	/*"x" - is icon for closing menu*/
	/*"burger" - is icon for opening menu*/
	.xFirst {
		transform: rotate(45deg);
		margin: 0;
		position: absolute;
		top: 10vw;
		width: 10vw;
	}
	.xSecond {
		transform: rotate(-45deg);
		margin: 0;
		position: absolute;
		top: 10vw;
		width: 10vw;
	}
	.xIconShown {
		display: inline-block;
	}
	.xIconHidden {
		display: none;
	}
	.burgerContainerShown {
		display: inline-block;
	}
	.burgerContainerHidden{
		display: none;
	}
	/**/

	.navShow {
		visibility: visible;
	}
	.navHide{
		visibility: hidden;
	}

	nav{
		padding-top: 15vw;
		flex-direction: column;
		width: 60vw;
		background: rgba(0, 0, 0, 0.25);
	}

	a {
		font-size: 5vw;
		padding: 6vw;
	}

	a:hover {
		transition: 0.4s;
		background: none;
		box-shadow: none;
	}
}
