.WorkerBigHide {
	position: fixed;
	top: 0;
	display: none;
	justify-content: space-between;
	width: 80%;
	padding: 10%;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	backdrop-filter: blur(5px);
}

.WorkerBigShow {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 10%;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	backdrop-filter: blur(5px);
}

.WorkerBio {
	width: 60%;
	font-size: 1.5vw;
	letter-spacing: 0.3vw;
	line-height: 2.5vw;
}

.WorkerBigImg {
	width: 30vw;
	height: 30vw;
	border-radius: 5%;
}

.exitbutton1 {
	transform: rotate(-45deg);
	position: absolute;
	top:  5%;
	right: 10%;
	width: 5vw;
	border-bottom: 1vw solid white;
}

.exitbutton2 {
	transform: rotate(45deg);
	position: absolute;
	top:  5%;
	right: 10%;
	width: 5vw;
	border-bottom: 1vw solid white;

}

@media only screen and (max-width: 400px) {
	.WorkerBigShow{
		flex-direction: column-reverse;
	}

	.WorkerBio{
		margin: auto;
		width: 90%;
		font-size: 4.5vw;
		line-height: 6.5vw;
	}

	.WorkerBigImg {
		margin: 7vw auto 0 auto;
		width: 70vw;
		height: 70vw;
	}


	.exitbutton1 {
		width: 15vw;
		border-bottom: 2vw solid white;
		top:  3%;
		right: 4%;
	}

	.exitbutton2 {
		width: 15vw;
		border-bottom: 2vw solid white;
		top:  3%;
		right: 4%;
	}
}